<div class="features-list">
  <p>List of available features:</p>
  <ul>
    <li>Add new item</li>
    <li>Change the status of existed todo item</li>
    <li>Delete items</li>
    <li>Selected item details</li>
    <li>Choose status of new todo item</li>
    <li>Search</li>
    <li>Sort</li>
    <li>Toggle items status</li>
    <li>Shows items count</li>
  </ul>
</div>