<div class="features-list">
  <p>List of available features:</p>
  <ul>
    <li>Selected item details</li>
    <li>State of new todo item</li>
    <li>Search</li>
    <li>Sort</li>
    <li>Toggle items status</li>
    <li>Shows items count</li>
  </ul>
</div>