<div class="features-list">
  <p>List of available features:</p>
  <ul>
    <li>
      {{!-- <input type="checkbox" value="details" /> --}}
      Selected item details</li>
    <li>
      {{!-- <input type="checkbox" value="state" /> --}}
      State of new todo item</li>
    <li>
      {{!-- <input type="checkbox" value="search" /> --}}
      Search</li>
    <li>
      {{!-- <input type="checkbox" value="sort" /> --}}
      Sort</li>
    <li>
      {{!-- <input type="checkbox" value="toggle" /> --}}
      Toggle items status</li>
    <li>
      {{!-- <input type="checkbox" value="count" /> --}}
      Shows items count</li>
  </ul>
</div>