* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
.button {
  border: 0;
  padding: 10px 60px;
  background: #105aff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.todo-wrapper {
  background-color: #f4f2f3;
  padding: 30px;
  max-width: 1280px;
  margin: auto;
}
.create-todo-wrapper {
  display: flex;
  align-items: center;
}

#new-todo {
  width: 60vw;
  padding: 10px;
  border: 1px solid #ccc;
}

.todo-container {
  background: #fff;
  margin: 30px 0 15px;
  max-height: 325px;
  overflow-y: auto;
}
.title-container {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}

.todo-list {
  padding: 0 20px;
}
.todo-list .list-item {
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.add-item {
  margin-left: 20px;
}
select {
  width: 150px;
  height: 38px;
  margin-left: 20px;
}
.search-todo {
  width: 30vw;
  margin-right: 1vw;
}
.seach-item {
  display: flex;
  padding: 20px 20px 0;
}
.title-container li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
.list-item {
  list-style: none;
}
.list-item > div,
.list-item .item-label {
  display: flex;
  align-items: center;
}
.list-item > div {
  justify-content: space-between;
}
.list-item .identifier {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  background-color: #ffe4d3;
  margin: 0 10px;
  border: 1px solid #ffccb3;
}
.list-item a {
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.list-item.true label {
  text-decoration: line-through;
}
.list-item.true .identifier {
  background-color: #edffd9;
  border: 1px solid #ace788;
}
.list-item .ember-checkbox {
  width: 20px;
  height: 16px;
}
.list-item .remove-item {
  padding: 5px 15px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}
.filters {
  margin: 20px 0 20px;
}
.footer-tabs li {
  display: inline-block;
}
.footer-tabs li a {
  text-decoration: none;
  color: inherit;
  background: transparent;
}
.footer-tabs li .selected {
  background: #105aff;
  color: #fff;
}
.align-center {
  text-align: center;
  padding: 20px;
  display: block;
  max-width: 1280px;
  margin: auto;
}
.item-details{
  text-transform: capitalize;
  padding: 10px;
  background: #fff;
}
.item-details h1{
  margin-bottom: 10px;
}
.features-list{
  margin:20px auto;
  max-width: 1200px;
  overflow: hidden;
}
.features-list li{
  margin: 20px 20px 0 0;
  list-style-position: inside;
  float: left;
}
.features-list li input{margin-right: 5px;}