<div class="create-todo-wrapper">
  {{input
    type="text"
    id="new-todo"
    placeholder="What needs to be done?"
    value=addtodo
  }}

  <span class="add-todo" {{action "addTodoItem"}}>Add</span>
</div>
{{todo-list todoList=model}}