<div class="create-todo-wrapper">
  {{input
    type="text"
    id="new-todo"
    placeholder="What needs to be done?"
    value=addtodo
  }}

  {{global-button addItem=(action "addTodoItem") label="Add" customclass="add-item"}}
</div>