<div class="todo-container">
  <div class="title-container">
    <h4>Todo List</h4>
    <p><input type="checkbox" onchange={{action "toggleAll"}} /> Toggle all</p>
  </div>
  <ul class="todo-list">
    {{#each modelData as |item|}}
      <li class="list-item {{item.completed}}">
        {{todo-list-item item=item}}
      </li>
    {{/each}}
  </ul>
</div>