<div class="todo-container">
  <h4>Todo List</h4>
  <ul class="todo-list">
    {{#each modelData as |item|}}
      <li class="list-item {{item.completed}}">
        {{todo-list-item item=item}}
      </li>
    {{/each}}
  </ul>
</div>