.list-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.list-item > div {
  display: flex;
}
.list-item .identifier {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  background-color: #ffe4d3;
  margin: 0 10px;
  border: 1px solid #ffccb3;
}
.list-item label {
  text-transform: capitalize;
}
.list-item.true label {
  text-decoration: line-through;
}
.list-item.true .identifier {
  background-color: #edffd9;
  border: 1px solid #ace788;
}
.list-item .ember-checkbox {
  width: 20px;
  height: 16px;
}
.list-item .remove-item {
  padding: 5px 10px;
  border: 0;
  cursor: pointer;
}