<div class="item-label">
  {{input type="checkbox" checked=item.completed}}
  <span class="identifier"></span>
  <label>{{item.title}}</label>
</div>
<button class="remove-item" {{action "removeTodo" item}}>Delete</button>