<div class="list-item {{item.completed}}">
  <div>
    {{input type="checkbox" checked=item.completed}}
    <span class="identifier"></span>
    <label>{{item.title}}</label>
  </div>
  <button class="remove-item" {{action "removeTodo"}}></button>
</div>