<div class="footer-tabs">
  <ul class="filters">
    <li>
      {{#link-to "index" activeClass="selected" class="button"}}All{{/link-to}}
    </li>
    <li>
      {{#link-to "pending" activeClass="selected" class="button"}}Pending{{/link-to}}
    </li>
    <li>
      {{#link-to "completed" activeClass="selected" class="button"}}Completed{{/link-to}}
    </li>
  </ul>
</div>
{{#if getPendingItemsCount}}
  {{getPendingItemsCount}} Pending items
{{/if}}