<div class="footer-tabs">
  <ul class="filters">
    <li>
      {{#link-to "index" activeClass="selected"}}All{{/link-to}}
    </li>
    <li>
      {{#link-to "pending" activeClass="selected"}}Pending{{/link-to}}
    </li>
    <li>
      {{#link-to "completed" activeClass="selected"}}Completed{{/link-to}}
    </li>
  </ul>
</div>

{{!-- {{getItemsCount}}
Total todo items

{{getItemsCount}}
Pending items

{{getItemsCount}}
Completed items --}}