{{#link-to "index" class="align-center"}}Home{{/link-to}}
<div class="todo-wrapper">
  {{todo-header}}
  {{outlet}}
  {{todo-footer model=model}}
</div>

<p class="align-center">Click on item to visit todo details page</p>