{{#link-to "index" (query-params items="all") class="align-center"}}Home{{/link-to}}
<div class="todo-wrapper">
  {{todo-header}} 
  {{todo-list model=todos}}
  {{outlet}} 
  {{todo-footer model=todos}}
</div>
<p class="align-center">Click on todo-item to visit todo-details page</p>