{{#link-to "index" class="align-center"}}Home{{/link-to}}
<div class="todo-wrapper">
  {{todo-header}}
  {{outlet}}
  {{todo-list model=todos}}
  {{todo-footer model=model}}
</div>
<p class="align-center">Click on todo-item to visit todo-details page</p>