<nav>
  {{#link-to "index" class="align-center active"}}Home{{/link-to}}
  {{#link-to
    "todo-list"
    (query-params items="all")
    class="align-center active"
  }}Todo List{{/link-to}}
</nav>
{{features-list}}